.cursor/**
.vscode/**
.git/**
.gitignore
.github/**
**/.DS_Store
**/*.vsix
node_modules/**
package-lock.json
media/banner.svg
docs/**
plugins/starter-simple/**
plugins/starter-advanced/**
scripts/**
.vscode-test/**
